/* Font imports ------------------------------------------------------------- */
@font-face {
    font-family: "FuturaCnd";
    font-weight: normal;
    src: url("http://www.drexel.edu/sc_fonts/c9bb15b9-5c4a-477b-8e2d-1924c3ef942d.eot"); /* IE9 Compat Modes */
    src: local("@"),
         url("http://www.drexel.edu/sc_fonts/c9bb15b9-5c4a-477b-8e2d-1924c3ef942d.eot?iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("http://www.drexel.edu/sc_fonts/286ca836-0e48-43ba-9f12-8ba861fafeda.woff") format("woff"), /* Modern Browsers */
         url("http://www.drexel.edu/sc_fonts/40e2893b-b4c0-4b91-aa42-4ab0be867d25.ttf") format("truetype"), /* Safari, Android, iOS */
         url("http://www.drexel.edu/sc_fonts/275744c1-8dd1-40d7-ae52-17728b66a3dc.svg#275744c1-8dd1-40d7-ae52-17728b66a3dc") format("svg"); /* Legacy iOS */
}

@font-face {
    font-family: "FuturaCnd";
    font-weight: bold;
    src: url("http://www.drexel.edu/sc_fonts/d5a62439-27d1-4deb-b8df-4c2610128f1b.eot"); /* IE9 Compat Modes */
    src: local("@"),
         url("http://www.drexel.edu/sc_fonts/d5a62439-27d1-4deb-b8df-4c2610128f1b.eot?iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("http://www.drexel.edu/sc_fonts/e07f45c2-9c42-4c23-ab7a-c161556274ef.woff") format("woff"), /* Modern Browsers */
         url("http://www.drexel.edu/sc_fonts/c188225b-c194-419b-8d14-c5d677fcb3eb.ttf") format("truetype"), /* Safari, Android, iOS */
         url("http://www.drexel.edu/sc_fonts/a92ba10a-1759-4dc6-b9b5-06e311b67829.svg#a92ba10a-1759-4dc6-b9b5-06e311b67829") format("svg"); /* Legacy iOS */
}

@font-face {
    font-family: "FuturaCndBold";
    font-weight: bold;
    src: url("http://www.drexel.edu/sc_fonts/d5a62439-27d1-4deb-b8df-4c2610128f1b.eot"); /* IE9 Compat Modes */
    src: local("@"),
         url("http://www.drexel.edu/sc_fonts/d5a62439-27d1-4deb-b8df-4c2610128f1b.eot?iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("http://www.drexel.edu/sc_fonts/e07f45c2-9c42-4c23-ab7a-c161556274ef.woff") format("woff"),  /* Modern Browsers */
         url("http://www.drexel.edu/sc_fonts/c188225b-c194-419b-8d14-c5d677fcb3eb.ttf") format("truetype"), /* Safari, Android, iOS */
         url("http://www.drexel.edu/sc_fonts/a92ba10a-1759-4dc6-b9b5-06e311b67829.svg#a92ba10a-1759-4dc6-b9b5-06e311b67829") format("svg"); /* Legacy iOS */
}

:root {
    /* Primary Colors */
    --primary-blue: #07294d;
    --primary-yellow: #FFC600;

    /* HTML / System Text / Links */
    --link-blue: var(--primary-blue);
    --link-light-blue: #006699;
    --text-black: #000000;
    --text-grey: #333333;

    /* Rules / Pipes / Fly-out Tabs */
    --tab-background-color: #E1E1E0;
    --tab-red-accent: #9E0B0F;

    /* Accent Colors */
    --accent-dark-blue: #006298;
    --accent-dark-olive: #949300;
    --accent-dark-red: #971B2F;
    --accent-dark-orange: #DE7C00;
    --accent-blue: #6CACE4;
    --accent-olive: #B7BF10;
    --accent-red: #D14124;
    --accent-orange: #FF9F1C;
    --accent-dark-grey: #A7A8AA;
    --accent-grey: #BFB9AF;
    --accent-light-green: #BAC5B9;
    --accent-light-grey: #D0D3D4;

    /* General variables */
    --border-radius: 3px;
    --form-field-padding: 20px;
    --form-group-top-bottom-margin: 15px;
    --form-input-padding: 3px;
    --group-border: 1px solid var(--accent-dark-grey);
    --main-logo-width: 350px;
    --standard-fonts: "futura-pt-condensed", arial, sans-serif;
    --transition-duration: 0.15s;
}

/* General Styles ----------------------------------------------------------- */
a {
    color: var(--link-light-blue);
}

body {
    background: var(--tab-background-color);
    color: rgba(0, 0, 0, 0.75);
    font-family: var(--standard-fonts);
    font-size: 16px;
    margin: 20px auto 0px auto;
    padding: 10px;
}

label,
input[type="checkbox"],
input[type="file"],
input[type="radio"] {
    cursor : pointer;
}

.alert {
    border: 1px solid transparent;
    border-radius: var(--border-radius);
    margin-bottom: 22px;
    padding: 15px;
}

.alert-danger {
    background: #F2DEDE;
    border-color: #EBCCD1;
    color: #A94442;
}

.alert-danger .alert-link {
    color: #843534;
}

.alert-info {
    background: #D9EDF7;
    border-color: #BCE8F1;
    color: #31708F;
}

.alert-info .alert-link {
    color: #245269;
}

.alert-success {
    background: #DFF0D8;
    border-color: #D6E9C6;
    color: #3C763D;
}

.alert-success .alert-link {
    color: #2B542C;
}

.alert-warning {
    background: #FCF8E3;
    border-color: #FAEBCC;
    color: #8A6D3B;
}

.alert-warning .alert-link {
    color: #66512C;
}

.abbr-tooltip {
    text-decoration: none;
}

.panel-heading {
    font-family: var(--standard-fonts);
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: bold;
}

.shadow {
    border-radius: 0;
    box-shadow: 8px 8px 5px 0 var(--accent-dark-grey);
}

/* Buttons ------------------------------------------------------------------ */
.btn {
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    display: inline-block;
    font-family: var(--standard-fonts);
    font-size: 1.15em;
    font-weight: bolder;
    letter-spacing: 0.02em;
    padding: 7px 15px;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color var(--transition-duration);
}

.btn-link {
    padding: 9px 15px;
}

.btn-primary {
    background: var(--link-light-blue);
    color: white;
}

.btn-primary:hover {
    background: var(--link-blue) !important;
}

.btn-primary:active {
    background: var(--accent-blue) !important;
}

.btn-red {
    background: var(--tab-red-accent);
    color: white;
}

.btn-red:hover {
    background: var(--accent-dark-red) !important;
}

.btn-red:active {
    background: var(--accent-red) !important;
}

/* Dashboards --------------------------------------------------------------- */
/* Courses */
/* For mobile, do not display these columns. */
.dash-meeting-days,
.dash-start-date,
.dash-end-date,
.dash-start-time,
.dash-end-time {
    display: none;
}

.dash-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.btn-dash-action {
    margin: 5px 0;
}

/* Students */
.dash-student-email {
    display: none;
}

.dash-actions {
    margin: auto;
    text-align: center;
}

.dash-course-table {
    margin-top: 30px;
}

/* Course Details ----------------------------------------------------------- */
.course-details {
    border: var(--group-border);
    border-radius: var(--border-radius);
}

.course-detail-cell {
    border: var(--group-border);
}

.course-detail-label {
    font-weight: bold;
}

.dash-attendance {
    margin-top: 20px;
}

.dash-attendance-on-time,
.dash-attendance-excused {
    display: none;
}

/* CSS Grid-related Rules --------------------------------------------------- */
.app-grid {
    box-sizing: border-box;
    display: grid;
    grid-gap: 1px;
    grid-template-columns:
        [start] 1fr
        [center] 8fr
        [end] 1fr
        [last-col];
    grid-template-rows:
        [header] min-content
        [content] 2fr
        [footer] min-content
        [last-row];
    justify-items: center;
}

.course-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns:
        [start] minmax(min-content, 3fr)
        [end] minmax(min-content, 1fr)
        [last-col];
    grid-auto-rows: min-content;
}

.start {
    grid-column: start;
}

.center {
    grid-column: center;
}

.end {
    grid-column: end;
}

.app-header {
    grid-column: center;
    grid-row: header;
    width: 100%;
}

.content {
    border-radius: var(--border-radius);
    margin: 2vh 0;
    padding: 1vw 0.5vw;
    width: 100%;
}

.app-footer {
    border-top: var(--group-border);
    grid-column: center;
    grid-row: footer;
    margin-top: 20px;
    padding: 10px 0;
    width: 100%;
}

.footer-info {
    font-size: 0.75em;
    text-align: center;
}

.sidebar {
    grid-row: header / last-row;
    overflow: auto;
}

/* Forms -------------------------------------------------------------------- */
.btn-submit {
    margin-left: 10px;
}

.checkbox-container,
.checkbox-with-label-container,
.radio-container {
    margin-left: var(--form-input-padding);
    padding: 10px var(--form-field-padding) !important;
    text-align: center;
}

.checkbox-with-label-container,
.radio-container {
    display: flex;
}

.checkbox,
.radio {
    margin-right: 5px !important;
    width: initial !important;
}

.control-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.course-meeting-days-container {
    /* HACK: This allows the spacing of these inputs
             to be the same from the other inputs
             on the course creation/edit page */
    margin-top: 0 !important;
}

.course-meeting-days {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px calc(-1 * var(--form-input-padding)) 0;
}

.dropdown {
    width: calc(100% + calc(2 * var(--form-input-padding))) !important;
}

.form-control {
    border: var(--group-border);
    border-radius: var(--border-radius);
    margin: 5px calc(-1 * var(--form-input-padding)) 0;
    padding: 7px var(--form-input-padding);
    width: 100%;
}

.form-group {
    margin: var(--form-group-top-bottom-margin) auto;
}

.form-heading-container {
    text-align: center;
}

.remember-me-field,
.form-submit-buttons {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-left: var(--form-input-padding);
    width: 100%;
}

.guest-form {
    border: var(--group-border);
    border-radius: var(--border-radius);
    margin: 0 auto;
    padding: 15px 20px;
    width: 240px;
}

.guest-input {
    width: 100%;
}

.has-error {
    color: var(--tab-red-accent);
}

.inline-form {
    display: inline-block;
}

.radio-option {
    margin-right: 20px;
}

.required:after {
    color: var(--accent-dark-red);
    content: " *";
}

.standard-form {
    margin: auto;
    width: 240px;
}

.textarea {
    min-height: 4em;
    resize: vertical;
}

/* Guest -------------------------------------------------------------------- */
.guest-logo {
    width: 100%;
}

/* Navigation --------------------------------------------------------------- */
.navbar {
    display: flex;
    flex-direction: column;
    font-family: var(--standard-fonts);
    font-size: 0.9em;
    justify-content: center;
}

.navbar-brand-container {
    min-width: 150px;
    max-width: var(--main-logo-width);
}

.navbar-logo {
    max-width: 100%;
}

.navbar-link-item {
    position: relative;
    text-align: center;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.navbar-text-container {
    padding: 7px 0;
}

.navbar-text {
    font-size: 1.25em;
}

.navbar-right .navbar-link-item {
    margin-left: 20px;
}

/* Table -------------------------------------------------------------------- */
.table {
    width: 100%;
}

.table-header-row {
    border-bottom: var(--group-border);
}

.table-header-cell {
    font-weight: bold;
    padding: 5px 10px;
}

.table-content-row {
    transition: background-color var(--transition-duration);
}

.table-content-row:hover {
    background: var(--accent-light-grey);
}

.table-content-cell {
    padding: 5px;
    vertical-align: middle;
}

.table-number {
    text-align: center;
}

.table-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}

/* Media Queries ------------------------------------------------------------ */
@media screen and (min-width: 480px) {
    /* Forms ---------------------------------------------------------------- */
    .form-heading-container {
        margin: auto;
        max-width: var(--main-logo-width);
    }

    /* General -------------------------------------------------------------- */
    body {
        margin: 40px 30px 20px;
        padding: 0;
    }

    .panel-heading {
        font-size: 2em;
    }

    /* Guest ---------------------------------------------------------------- */
    .guest-form,
    .standard-form {
        width: 350px;
    }

    .guest-logo {
        max-width: 100%;
    }
}

@media screen and (min-width: 640px) {
    /* Course Dashboard ----------------------------------------------------- */
    .dash-start-time,
    .dash-end-time {
        display: table-cell;
    }

    /* Forms ---------------------------------------------------------------- */
    .control-label {
        margin-left: calc(var(--form-field-padding) - var(--form-input-padding));
    }

    .form-group {
        width: 100%;
    }

    .form-field {
        padding: 0 var(--form-field-padding);
    }

    .form-submit-buttons {
        margin: 0;
    }

    .remember-me-field,
    .form-submit-buttons {
        /* Align buttons with form edge */
        transform: translateX(calc(-1 * var(--form-field-padding)));
        grid-column: start / last-col;
    }

    .guest-form,
    .standard-form {
        display: grid;
        justify-content: space-between;
        grid-template-columns:
            [start] 1fr
            [end] 1fr
            [last-col];
        grid-auto-rows: min-content;
    }

    .guest-form {
        width: 480px;
    }

    .standard-form {
        width: 640px;
    }

    .course-meeting-days {
        flex-direction: row;
        margin-left: 0;
    }

    .remember-me-field {
        margin-top: 0;
        margin-bottom: var(--form-group-top-bottom-margin);
    }

    .single-field {
        grid-column: start / last-col;
    }

    /* Grid ----------------------------------------------------------------- */
    .app-grid {
        grid-template-rows:
            [header] 1fr
            [content] min-content
            [footer] 1fr
            [last-row];
    }
}

@media screen and (min-width: 768px) {
    /* Dashboard ------------------------------------------------------------ */
    .dash-meeting-days {
        display: table-cell;
    }

    .dash-student-email {
        display: table-cell;
    }

    /* Navigation ----------------------------------------------------------- */
    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar-nav {
        justify-content: flex-start;
        margin-top: 0;
    }

    .dash-attendance-excused {
        display: table-cell;
    }
}

@media screen and (min-width: 1024px) {
    /* Dashboard ------------------------------------------------------------ */
    .dash-meeting-days {
        display: table-cell;
    }

    .dash-attendance-on-time {
        display: table-cell;
    }
}

@media screen and (min-width: 1280px) {
    .btn-dash-action {
        margin: 0;
    }

    .dash-actions {
        align-items: flex-start;
        flex-direction: row;
    }
}

@media screen and (min-width: 1600px) {
    .app-grid {
        grid-template-columns:
            [start] 1fr
            [center] 6fr
            [end] 1fr
            [last-col];
    }

    .dash-start-date,
    .dash-end-date {
        display: table-cell;
    }
}
